# See https://github.com/github/gitignore/blob/main/Swift.gitignore

# Xcode
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
Package.resolved

# CocoaPods / Carthage (uncomment if adopted)
# Pods/
# Carthage/Build/

# System Files
.DS_Store
Thumbs.db
